<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feylabs.sumbangsih">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".SumbangsihApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_sumbangsih"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_sumbangsih_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sumbangsih"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation._astart.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.CommonControllerActivity"
            android:exported="true"
            android:label="@string/title_activity_common_controller" />
        <activity
            android:name=".presentation._otp.ReceiveOTPActivity"
            android:exported="true" />
        <activity
            android:name=".presentation._otp.WriteOTPActivity"
            android:exported="true" />
        <activity
            android:name=".presentation._walkthrough.WalkthroughActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>